html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-image: url("http://www.fun-lover.com/clipart/backs/Sky/mddksky.gif");
  text-align: center;
}


#machine-top {
  font-size: larger;
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;
  position: relative;
  display: inline-block;
  margin-top: 30px;
}

h1 {
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
  color: #ace926;
  font-size: 40px;
  text-shadow: 1px 1px 5px black;
}

#credit {
  border: 3px dashed red;
  width: 40px;
  height: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 700px;
  height: 500px;
  margin: auto;
}

.wheel {
  border: 10px #e926ac;
  border-style:groove;
  width: 25%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  border: 20px #27ace9;
  border-style: groove;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  font-size: 50px;
  animation: fadeInDown;
  animation-duration: 2s;
}

#reset {
  background-image: url("http://www.fun-lover.com/clipart/webpage-buttons-blank/buttons-rect-pp-006.gif");
  font-size: x-large;
  font-style: oblique;
}

#spin {
  background-image: url("http://www.fun-lover.com/clipart/webpage-buttons-blank/buttons-rect-blue-017.gif");
  font-size: x-large;
  font-style: oblique;
}