html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}


body {
  background-color: lightsteelblue;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: whitesmoke;
  width: 800px;
  height: 600px;
  margin: auto;
}

.wheel {
  border: 5px solid black;
  width: 25%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  border: 5px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  font-size: 50px;
  animation: heartBeat;
  animation-duration: 2s;
  /* animation: fadeInDown, heartBeat;
  animation-duration: 2s */
}
/*  heartBeat on jackPot fadeinDown on spin*/

.buttons {
  padding: 20px;
}