html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}


body {
  background-color: lightpink;
  text-align: center;

}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: aqua;
  width: 550px;
  height: 300px;
  justify-content: space-evenly;

}

.wheel {
  display: grid;
  grid-template-columns: minmax(3, 10vmin);
  border: 5px solid black;
  width: 25%;
  height: 50%;
}

.inner {
  width: 25px;
  height: 50px;
  border: 5px dashed black;
  text-align: center;
  vertical-align: middle;
}


html {
  box-sizing: border-box
}